.about__heading {
    margin: 0 auto 20px;
    max-width: 919px;
    min-height: 156px;
    font-weight: 700;
    font-size: 150px;
    line-height: 133px;
    text-align: center;
    letter-spacing: -0.07em;
    color: #FF25C2;
}