.social__text {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    display: block;
    max-width: 475px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.03em;
}